<!-- Author Select Wheel -->
<div class="container-fluid text-center padded">
    <div class="form-group">
        <header>
            <code>
                <label for="author-select">Author:</label>
                <select class="form-control" id="author-select" name="author">
                    {% for author in authors %}
                        <option value="{{ author.alias }}"
                                {% if author.alias == selected_author.alias %}
                                selected="selected"
                                {% endif %}>
                            {{ author.alias }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-secondary" type="submit">Submit</button>
            </code>
        </header>
    </div>
</div>