{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='contact.css') }}">
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('contact.index') }}" role="form" class="form-horizontal">
        {% include 'contact/author_select.html' %}
    </form>
    <div class="container-fluid text-center padded">
        <img src="{{ url_for('avatar', filename=selected_author.avatar|e|safe) if selected_author.avatar else '//placehold.it/100' }}"
             class ="img-responsive img-circle" style="display: inline;" alt="Avatar">
    </div>
    <div class="container-fluid text-center padded">
        <section>
            <h3>Merchandise for {{ selected_author.alias }}</h3>
            {% set links = selected_author.links %}
            {% include 'contact/contact_links.html' %}
        </section>
        <aside>
            <h3>Links for {{ selected_author.alias }}</h3>
            {% set links = selected_author.links %}
            {% include 'contact/contact_links.html' %}
        </aside>
    </div>
    <div class="container-fluid text-center padded">
        <footer>
            <code>
                {% if image_results %}
                    <p>Artist images:</p>
                    <!-- Set local results variable for results partial -->
                    {% set results = image_results %}
                    {% include 'search/results_carousel.html' %}
                {% endif %}
            </code>
        </footer>
    </div>
{% endblock %}