<figcaption>
    {% if image_data %}
        <p>Title: {{ image_data.display_name|e|title|safe }}</p>
        <p>Author: <a href="{{ url_for('contact.index', author=image_data.artist.alias) }}">
            {{ image_data.artist.alias|e|title|safe }}
        </a></p>
        <p>About: {{ image_data.about|e|safe }}</p>
    {% else %}
        <p>Title: {{ image.filename|e|title }}</p>
    {% endif %}
    <form class="input-group" method="POST" action="{{ url_for('upload.remove') }}">
        <button class="btn btn-default" type="submit" name="remove" value="{{ image.filename }}">
            Remove
        </button>
    </form>
</figcaption>