<!-- Display login options-->
{% if g.user.is_authenticated %}
    {% if g.user.name %}
        <li><p class="navbar-text">Signed in as {{ g.user.name }}</p></li>
    {% else %}
        <li><p class="navbar-text">Signed in:  <a href="#" class="navbar-link" style="padding: 10px;">Update settings</a></p>
        </li>
    {% endif %}
    <li><a href="{{ url_for('upload.index') }}" class="navbar-link">Upload</a></li>
    <li><a href="{{ url_for('logout') }}" class="navbar-link">Logout</a></li>
{% else %}
    <li><a href="{{ url_for('login') }}">Login</a></li>
{% endif %}