{% extends 'base.html' %}

{% block content %}
    <body>
    <style>
        .item {
            float:left;
            width:500px;
            margin:10px;
        }
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.masonry.min.js') }}"></script>
    <ul id="container">
        {% for image in images %}
            <img class="item" src="{{ url_for('gallery.image', filename=image.filename) }}" alt="{{ image.filename }}"/>

        {% endfor %}
    </ul>
    </body>
{% endblock %}