{% extends 'base.html' %}

{% block content %}
    <body>
    <div >
        <table style="width:100%;" cellpadding="10 px">
            {% for image in images %}
                <figure>
                    <img class="img-responsive" src="{{ url_for('gallery.image', filename=image.filename) }}" alt="{{ image.filename }}"/>
                    <figcaption>
                        {% if image_data[loop.index0] %}
                            <p>Title: {{ image_data[loop.index0].name|e|safe }}</p>
                        {% else %}
                            <p>Title: {{ image.filename|e }}</p>
                        {% endif %}
                        <p>Author: Vallejo</p>
                    </figcaption>
                </figure>
            {% endfor %}
        </table>
    </div>
    </body>
{% endblock %}