<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('gallery.index') }}">
                <img alt="Falcon Gallery" src="{{ url_for('static', filename='favicon.ico') }}" width="auto" height="100%">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        {#        <div class="collapse navbar-collapse" id="base-navbar">#}
        {#            <ul class="nav navbar-nav">#}
        {#                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
        {#                <li class="dropdown">#}
        {#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
        {#                    <ul class="dropdown-menu">#}
        {#                        <li><a href="#">Action</a></li>#}
        {#                        <li><a href="#">Another action</a></li>#}
        {#                        <li><a href="#">Something else here</a></li>#}
        {#                        <li role="separator" class="divider"></li>#}
        {#                        <li><a href="#">Separated link</a></li>#}
        {#                        <li role="separator" class="divider"></li>#}
        {#                        <li><a href="#">One more separated link</a></li>#}
        {#                    </ul>#}
        {#                </li>#}
        {#            </ul>#}

        <!-- If search enabled display the search form-->
        {% if g.search_enabled %}
            <form class="navbar-form navbar-left" method="POST" action="{{ url_for('search.index') }}">
                <div class="input-group">
                    <input title="Type search term here" type="text" placeholder="Search for..." name="search"/>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        {% endif %}

        <!-- Display login options-->
        {% if g.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-left">
                {% if g.user.name %}
                    <li><p class="navbar-text navbar-left">Signed in as {{ g.user.name }}</p></li>
                {% else %}
                    <li><p class="navbar-text navbar-left">Signed in:</p>
                        <a href="#" class="navbar-link navbar-left">Update</a>
                    </li>
                {% endif %}
                <li><a href="{{ url_for('upload.index') }}" class="navbar-link navbar-left">Upload</a></li>
                <li><a href="{{ url_for('logout') }}" class="navbar-link navbar-left">Logout</a></li>
            </ul>

            <!-- Authenticated user options -->
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Upload</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Something</a></li>
                    </ul>
                </li>

            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        {% endif %}
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{#<div class="navbar-header">#}
{##}
{#      <a class="navbar-brand" href="#">#}
{#        <img alt="Falcon Gallery" src="{{ url_for('static', filename='favicon.ico') }}" width="auto" height="100%">#}
{#      </a>#}
{#    {% if g.search_enabled %}#}
{#        <form class="navbar-form navbar-left" role="search" action="{{ url_for('search.index') }}" method="post" name="search">#}
{#            <div class="form-group">#}
{#                <input type="text" class="form-control" placeholder="Search">#}
{#            </div>#}
{#            <button type="submit" class="btn btn-default">Submit</button>#}
{#        </form>#}
{#    {% endif %}#}
{#    {% if g.user.is_authenticated %}#}
{#        {% if g.user.name %}#}
{#            <p class="navbar-text navbar-left">Signed in as {{ g.user.name }}</p>#}
{#        {% else %}#}
{#            <p class="navbar-text navbar-left">Signed in: <a href="#" class="navbar-link navbar-text">Update</a>#}
{#            </p>#}
{#        {% endif %}#}
{#        <a href="{{ url_for('logout') }}" class="navbar-link navbar-text">Logout</a>#}
{#    {% endif %}#}
{##}
{#</div>#}
{#</div>#}
{#</nav>#}