<!-- Navigation bar for all base pages -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">   <!-- Maximum screen width -->

        <!-- Brand and toggle get grouped for better mobile display -->
        {% include 'partials/header.html' %}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="collapse navbar-collapse navbar-nav nav" id="base-navbar">

            <!-- Public contact information (li) -->
            {% include 'partials/public.html' %}

            <!-- If search enabled display the search form (li) -->
            {% include 'partials/search.html' %}

            <!-- Display login options (li) -->
            {% include 'partials/user_login.html' %}

        </ul>
    </div><!-- /.container-fluid -->
</nav>