{% extends 'base.html' %}

{% block content %}
    <body>
    <style>
        .item {
            float:left;
            width:500px;
            margin:10px;
        }
    </style>
{#    <input id="file_uploader" type="file" name="image"/>#}
    {% include 'partials/upload_form.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.masonry.min.js') }}"></script>
    <ul id="container">
        {% for image in images %}
            <img class="item" src="{{ url_for('static', filename=['gallery', image.filename ]|join('/')) }}"/>
        {% endfor %}
    </ul>
    </body>
{% endblock %}